<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.demo.mapper.TestMapper">
    <select id="getData" resultType="HashMap">
    SELECT DISTINCT *
	    FROM test_member ORDER BY MEMBER_CD
      LIMIT 5;
    </select>

    <select id="getIP" resultType="HashMap">
    SELECT DISTINCT LAT, LNG, BSTA_ID
	    FROM test_bsta
    </select>

    <select id="getLink" resultType="HashMap">
    SELECT DISTINCT *
	    FROM test_link
        
    </select>

    <select id = "update" parameterType="HashMap">
    UPDATE test_bsta
      SET LAT=#{LAT}
       , LNG=#{LNG}
      WHERE BSTA_ID = #{BSTA_ID}
    </select>

    <!-- <select id = "setIP" parameterType="HashMap">
    INSERT INTO test_bsta(BSTA_ID, LAT, LNG)
      VALUES(#{BSTA_ID}, #{LAT}, #{LNG})
    </select> -->

    <select id = "delIP" parameterType="HashMap">

    </select>

</mapper>